
*.aux
*.log
*.out
svg-inkscape/*.pdf
*.synctex(busy)
*.toc
demos/
AlphaZero/
networks/
AlphaZeroTheory.bbl
AlphaZeroTheory.blg
AlphaZeroTheory.synctex.gz
code/
*.pdf_tex
code.synctex.gz
ru.sh
presentation/.~lock.presentation.odp#
